@import "tailwindcss";

/* prettier-ignore */
@theme {
	--default-font-family: "Lexend Variable";

	--color-aspects-red: #FF6969;
	--color-aspects-red-dark: color-mix(in oklch, var(--color-aspects-red), black 50%);
	--color-aspects-yellow: #FFD884;
	--color-aspects-yellow-dark: color-mix(in oklch, var(--color-aspects-yellow), black 50%);
	--color-aspects-green: #A1FF84;
	--color-aspects-green-dark: color-mix(in oklch, var(--color-aspects-green), black 50%);
	--color-aspects-blue: #84B5FF;
	--color-aspects-blue-dark: color-mix(in oklch, var(--color-aspects-blue), black 50%);
	--color-aspects-purple: #C884FF;
	--color-aspects-purple-dark: color-mix(in oklch, var(--color-aspects-purple), black 50%);
}

@utility bg-stripes {
	--bg-stripes-primary: black;
	--bg-stripes-secondary: transparent;
	--stripe-size: 4px;
	background: repeating-linear-gradient(
		45deg,
		var(--bg-stripes-primary),
		var(--bg-stripes-primary) var(--stripe-size),
		var(--bg-stripes-secondary) var(--stripe-size),
		var(--bg-stripes-secondary) calc(var(--stripe-size) * 2)
	);
}

@utility bg-stripes-primary-* {
	--bg-stripes-primary: --value(--color-*);
}

@utility bg-stripes-secondary-* {
	--bg-stripes-secondary: --value(--color-*);
}
